Para crear esta directiva con la CLI de Angular, solo tienes que hacer: ng generate directive sticky-below-view
<p>content works!</p>
<p>content works!</p>
<p>content works!</p>
<p>content works!</p>
<p>content works!</p>
<p>content works!</p>
<p>content works!</p>
<p>content works!</p>
<p>content works!</p>
<p>content works!</p>
<p>content works!</p>
<p>content works!</p>
<p>content works!</p>
<p>content works!</p>
<p>content works!</p>
<p>content works!</p>
<p>content works!</p>
<p>content works!</p>
<p>content works!</p>
<p>content works!</p>
<p>content works!</p>
<p>content works!</p>
<p>content works!</p>
<p>content works!</p>
<p>content works!</p>
<p>content works!</p>
<p>content works!</p>
<p>content works!</p>
<p>content works!</p>
<p>content works!</p>
<p>content works!</p>
<p>content works!</p>
<p>content works!</p>
<p>content works!</p>
<p>content works!</p>
<p>content works!</p>
<p>content works!</p>
<p>content works!</p>
<p>content works!</p>
<p>content works!</p>
<p>content works!</p>
<p>content works!</p>
<p>content works!</p>
<p>content works!</p>
<p>content works!</p>
<p>content works!</p>
<p>content works!</p>
<p>content works!</p>
